<ol class="summary">
  <% @survey.questions.each do |question| -%>
    <li>
      <%= question.title %>:
      <%= question.summary %>
      (Most recent: <%= question.most_recent_answer_text %>)
      (Your answer: <%= current_user.answer_text_for(question) %>)
    </li>
  <% end -%>
</ol>

<% @completions.each do |completion| -%>
  <ol>
    <% completion.answers.each do |answer| -%>
      <li class="question">
        <%= answer.question.title %>
        <%= answer.text %>
      </li>
    <% end %>
  </ol>
<% end -%>
