<h1><%= @survey.title %></h1>

<%= link_to(
  'Add Multiple Choice Question',
  new_survey_submittable_type_question_path(@survey, 'MultipleChoice')
) %>

<%= link_to(
  'Add Open Question',
  new_survey_submittable_type_question_path(@survey, 'Open')
) %>

<%= link_to(
  'Add Scale Question',
  new_survey_submittable_type_question_path(@survey, 'Scale')
) %>

<%= simple_form_for [@survey, @completion] do |form| -%>
  <ol>
    <%= render @questions, form: form %>
  </ol>
  <%= form.submit 'Submit Answers' %>
<% end -%>
