<h1><%= @survey.title %></h1>
<p>Author: <%= @survey.author.email %></p>

<%= link_to(
  'Add Multiple Choice Question',
  new_survey_question_path(@survey, question_type: 'MultipleChoice')
) %>

<%= link_to(
  'Add Open Question',
  new_survey_question_path(@survey, question_type: 'Open')
) %>

<%= link_to(
  'Add Scale Question',
  new_survey_question_path(@survey, question_type: 'Scale')
) %>

<%= simple_form_for [@survey, @completion] do |form| -%>
  <ol>
    <%= render @questions, form: form %>
  </ol>
  <%= form.submit 'Submit Answers' %>
<% end -%>
