<h1><%= @survey.title %></h1>
<p>Author: <%= @survey.author.email %></p>

<%= link_to(
  'Add Multiple Choice Question',
  new_survey_question_path(@survey, question_type: 'MultipleChoiceQuestion')
) %>

<%= link_to(
  'Add Open Question',
  new_survey_question_path(@survey, question_type: 'OpenQuestion')
) %>

<%= link_to(
  'Add Scale Question',
  new_survey_question_path(@survey, question_type: 'ScaleQuestion')
) %>

<%= simple_form_for [@survey, @completion] do |form| -%>
  <ol>
    <% @questions.each do |question| -%>
      <%= render 'questions/question', question: question, form: form %>
    <% end -%>
  </ol>
  <%= form.submit 'Submit Answers' %>
<% end -%>
