<%= simple_form_for(
  :invitation,
  url: survey_invitations_path(@survey_inviter.survey)
) do |f| %>
  <%= f.input(
    :message,
    as: :text,
    input_html: { value: @survey_inviter.message }
  ) %>
  <% if @invlid_message %>
    <div class="error">Please provide a message</div>
  <% end %>
  <%= f.input(
    :recipients,
    as: :text,
    input_html: { value: @survey_inviter.recipients }
  ) %>
  <% if @survey_inviter.invalid_recipients %>
    <div class="error">
      Invalid email addresses: 
      <%= @survey_inviter.invalid_recipients.join(', ') %>
    </div>
  <% end %>
  <%= f.button :submit, value: 'Invite' %>
<% end %>
