<%= form.fields_for "answers_attributes[#{question.id}]", Answer.new do |submission_fields| -%>
  <li>
    <%= submission_fields.label :text, label: question.title %>

    <% if question.question_type == 'MultipleChoice' -%>
      <ol>
        <% question.options.each do |option| -%>
          <li>
            <%= submission_fields.radio_button :text, option.text, id: dom_id(option) %>
            <%= content_tag :label, option.text, for: dom_id(option) %>
          </li>
        <% end -%>
      </ol>
    <% end -%>

    <% if question.question_type == 'Scale' -%>
      <ol>
        <% question.steps.each do |step| -%>
          <li>
            <%= submission_fields.radio_button :text, step %>
            <%= submission_fields.label "text_#{step}", label: step %>
          </li>
        <% end -%>
      </ol>
    <% end -%>

    <% if question.question_type == 'Open' -%>
      <%= submission_fields.text_field :text %>
    <% end -%>
  </li>
<% end -%>
